section.quote 
	.container 
		.quote-container
			+quoteItem({
				type: true,
				src: "./images/img-quote-avatar.png",
				desc: "“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”",
				author: "Joshua Earle"
			})
			+quoteItem({
				type: true,
				src: "./images/img-quote-avatar.png",
				desc: "“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”",
				author: "Joshua Earle"
			})
			+quoteItem({
				type: true,
				src: "./images/img-quote-avatar.png",
				desc: "“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”",
				author: "Joshua Earle"
			})


