section.wedo 
	.container 
		+blockBox({
			caption: "Service",
			title: "What we do",
			desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. "
		})
		.wedo-container
			img.wedo-image(src="../images/img-wedo.png", alt="")
			.wedo-content 
				+wedoItem({
					src: "../images/img-wedo-icon1.png",
					title: "Photography",
					desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas officia maiores dignissimos ipsa. Nobis, voluptatum ratione ea repudiandae tempore totam earum accusamus consequuntur nesciunt itaque dolor distinctio in laudantium animi? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, tempore aperiam error quisquam minus, placeat officiis nulla provident dolore perspiciatis totam. Quidem accusantium quia at consectetur doloremque sunt vero quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ut tenetur deleniti quae reiciendis officia unde suscipit eaque incidunt necessitatibus ipsam laboriosam, odit illo aspernatur, repudiandae magnam maxime accusantium ipsa.",
					arrow: "far fa-angle-up",
					active: "is-active"
				})
				+wedoItem({
					src: "../images/img-wedo-icon1.png",
					title: "Photography",
					desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas officia maiores dignissimos ipsa. Nobis, voluptatum ratione ea repudiandae tempore totam earum accusamus consequuntur nesciunt itaque dolor distinctio in laudantium animi? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, tempore aperiam error quisquam minus, placeat officiis nulla provident dolore perspiciatis totam. Quidem accusantium quia at consectetur doloremque sunt vero quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ut tenetur deleniti quae reiciendis officia unde suscipit eaque incidunt necessitatibus ipsam laboriosam, odit illo aspernatur, repudiandae magnam maxime accusantium ipsa.",
					arrow: "far fa-angle-down",
				})
				+wedoItem({
					src: "../images/img-wedo-icon1.png",
					title: "Photography",
					desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas officia maiores dignissimos ipsa. Nobis, voluptatum ratione ea repudiandae tempore totam earum accusamus consequuntur nesciunt itaque dolor distinctio in laudantium animi? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, tempore aperiam error quisquam minus, placeat officiis nulla provident dolore perspiciatis totam. Quidem accusantium quia at consectetur doloremque sunt vero quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ut tenetur deleniti quae reiciendis officia unde suscipit eaque incidunt necessitatibus ipsam laboriosam, odit illo aspernatur, repudiandae magnam maxime accusantium ipsa.",
					arrow: "far fa-angle-down",
				})

				
